@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Handlee|Montserrat:400,700&display=swap');
/*
font-family: Monserrat, sans-serif
font-family:Handlee, cursive
color: #fa573a;
color: #21242e;
*/
*{box-sizing: border-box;}

.container-fluid{
    width: 100%;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 0 3%;
}

body{
    font-family: "Montserrat", "Arial", sans-serif;
    background-color: black;
    color: white;
}
img{max-width: 100%;
    padding: 0 0 1.825em 0;
    display: block;
    margin-bottom: 0.5em;
}
main section .flex{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 4em;
    
}

/* HEADER */

header .nav_top{
    background-color: #21242e;
    color: white;
    padding: 20px 0;
}

header .nav_top .container{
    display: flex;
    justify-content: space-between;
}
header .nav_top .container div a{
    text-decoration: none;
    
}

header .nav_top .container div a span{
  
   color: white;
}


header nav{
    background-color: white;
    
}
header div a{
    color: #fa573a;
}
/* NAV */
header nav .menu{
    padding-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    
    
}
.menu a{
    text-decoration: none;
    margin: 0 1em;
    color: #fa573a;
    
}
nav .container{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    padding: 0 3%;
    height: 40px;
}
header nav .logo{
    
    width: 6.250em;
    margin-top: 10px;
}

/* today´s menu*/
main section.container{
    padding: 3.125em 0;
}

main section h2{
    font-family:Handlee, cursive;
    color: white;
    font-size: 2em;
    text-align: center;
}

main section h2 span{
    color: #fa573a;
}

main section .underline{
    position: relative;
    width: 200px;
    margin: 0 auto;
}

main section .underline hr{
    border-color: #fa573a;
    position: absolute;
    top: 1px;
    width: 100%;
}

main section .underline span{
    color: #fa573a;
    display: block;
    text-align: center;
    font-weight: 700;
    
}
main img{
    width: 25%;
    height: auto;
    
    display: block;
     }


/* cuerpo */

.contenedor1{
    display: flex;
    flex-flow: row nowrap;
    width: 30%;
    
}
.caja1{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.caja1:nth-child(1){
    display: flex;
    flex-flow: column nowrap;
}

.rojos{
    display: block;
    color: white;
    width: 90%;
    margin: 0 auto;
    height: 3em;
    

}
.rojos:hover{
    background-color: #fa573a;
}

.contenedor1, contenedor2{
    margin-top: 3em;
}

.caja1 .underline{

}
.contenedor2{
    display: flex;
    flex-flow: row nowrap;
    width: 70%;
}
.caja2{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-content: flex-start;
}
.contenedortotal{
    display: flex;
    flex-flow: row nowrap;
}

.cajaimagenes{
    ;
}








/* FOOTER */

footer{
    background-color: #21242e;
    color: white;
    padding: 1.825em;
}

footer p{
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
}
