@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Handlee|Montserrat:400,700&display=swap');
/*
font-family: Monserrat, sans-serif
font-family:Handlee, cursive
color: #fa573a;
color: #21242e;
*/
*{box-sizing: border-box;}

.container-fluid{
    width: 100%;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 0 3%;
}

body{
    font-family: "Montserrat", "Arial", sans-serif;
    background-color: black;
    color: white;
}
img{max-width: 100%;
    padding: 0 0 1.825em 0;
    display: block;
    margin-bottom: 0.5em;
}
main section .flex{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 4em;
    
}
p{
    color: #555;
}
.cajagrande2 a:hover i{
    margin: left;
    transition: 0.5s;
    transform: translateX(5px);
}
hr{
    width: 100px;
}
/* HEADER */

header .nav_top{
    background-color: #21242e;
    color: white;
    padding: 20px 0;
}

header .nav_top .container{
    display: flex;
    justify-content: space-between;
}
header .nav_top .container div a{
    text-decoration: none;
    
}

header .nav_top .container div a span{
  
   color: white;
}


header nav{
    background-color: white;
    
}
header div a{
    color: #fa573a;
}
.container h2{
    color: white;
}
/* MAIN */
main section.container{
    padding: 3.125em 0;
}

main section h2{
    font-family:Handlee, cursive;
    color: black;
    font-size: 2em;
    text-align: center;
}

main section h2 span{
    color: #fa573a;
}

main section .underline{
    position: relative;
    width: 200px;
    margin: 0 auto;
}

main section .underline hr{
    border-color: #fa573a;
    position: absolute;
    top: 1px;
    width: 100%;
}

main section .underline span{
    color: #fa573a;
    display: block;
    text-align: center;
    font-weight: 700;
    
}
/* NAV */
header nav .menu{
    padding-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    
    
}
.menu a{
    text-decoration: none;
    margin: 0 1em;
    color: #fa573a;
    
}
nav .container{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    padding: 0 3%;
    height: 40px;
}
header nav .logo{
    
    width: 6.250em;
    margin-top: 10px;
}

/* today´s menu*/
main{
    display: flex;
    flex-direction: row;
}
/*.cajagrande1*/

.caja1{
    display: flex;
    flex-direction: column;
    
    }
    .caja1 div{
        margin: 0.5em;
    }
.caja1 div:hover{
    background-color: #fa573a;
    border-radius: 10%;
    padding: 0.3em;
}

.cajagrande1{
    width: 30%;
    
}
.caja1{
    width: 30%;
    margin-bottom: 50px;
    }


.caja2{
    display: flex;
    flex-direction: column;
    top: 0.5em;
}

/* cajagrande2 */
.cajagrande2{
    width: 70%;
    display: flex;
    flex-direction: column;

}


.fotoytexto{
    display: flex;
    flex-direction: row;
    align-items: space-around;
}
.juntando{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.fotoytexto{
    margin-left: 6.250em;
}
.textos{
    margin-left: 3.125em;
}

.cajagrande2 img{
    width: 6.250em;
    height: 6.250em;
  
}

.cajagrande2 h3{
    margin-bottom: 0.4em;
}

.cajagrande2 p{
    margin: 0.4em 0;
}
.cajagrande2 a i{
    margin-left: 0.6em;
    margin-top: 0.6em;
}
.cajagrande2 span{
    text-decoration: none;
    color: #fa573a;
    
}
.cajagrande2 a{
    text-decoration: none;
    color: #fa573a;
    margin-top: 0.4em;
}







/* FOOTER */

footer{
    background-color: #21242e;
    color: white;
    padding: 1.825em;
}

footer p{
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
}

